<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="me.phh.treble.overlay.xiaomi.redmi10x5g"
        android:versionCode="1"
        android:versionName="1.0">
        <overlay android:targetPackage="android"
		android:priority="823"
		android:isStatic="true" />
</manifest>
