on boot
    chown system system /sys/class/leds/blue/brightness

    chown system system /sys/class/leds/blue/breath
    chown system system /sys/class/leds/blue/delay_off
    chown system system /sys/class/leds/blue/delay_on

    chmod 660 /sys/class/leds/blue/breath
    chmod 660 /sys/class/leds/blue/delay_off
    chmod 660 /sys/class/leds/blue/delay_on

service vendor.light-hal-2-0 /system/bin/hw/android.hardware.light@2.0-service.xiaomi_lmi
    interface android.hardware.light@2.0::ILight default
    class hal
    user system
    group system
    shutdown critical
