type teei_hal_wechat;
type hal_mlipay_default, domain;
type teei_hal_wechat_hwservice, hwservice_manager_type;
type hal_mlipay_hwservice, hwservice_manager_type;
type sysfs_therm;
allow appdomain teei_hal_wechat_hwservice:hwservice_manager { find };
allow appdomain hal_mlipay_hwservice:hwservice_manager { find };
allow appdomain zygote:unix_stream_socket getopt;
allow appdomain input_device:dir search;
allow appdomain oem_unlock_prop:file read;
allow appdomain proc_tty_drivers:file read;
allow appdomain self:netlink_route_socket bind;
allow appdomain sysfs_net:dir search;
allow appdomain sysfs_therm:dir search;
allow appdomain unlabeled:filesystem getattr;
allow appdomain window_service:service_manager find;
system_vendor_config_prop(vendor_payment_security_prop);
system_vendor_config_prop(vendor_fp_prop);
get_prop(appdomain, vendor_fp_prop);
get_prop(appdomain, vendor_payment_security_prop);
binder_call(appdomain, hal_mlipay_default);
binder_call(appdomain, teei_hal_wechat);

