type teei_hal_wechat;
type hal_mlipay_default, domain;
type teei_hal_wechat_hwservice, hwservice_manager_type;
type hal_mlipay_hwservice, hwservice_manager_type;
type sysfs_therm;
allow appdomain teei_hal_wechat_hwservice:hwservice_manager { find };
allow appdomain hal_mlipay_hwservice:hwservice_manager { find };
allow appdomain zygote:unix_stream_socket getopt;
allow appdomain input_device:dir search;
allow appdomain oem_unlock_prop:file { open read };
allow appdomain self:netlink_route_socket bind;
allow appdomain sysfs_net:dir { search read };
allow appdomain sysfs_therm:dir search;
allow appdomain unlabeled:filesystem getattr;
allow appdomain window_service:service_manager find;
allow appdomain proc_net:file { getattr open read };
allow appdomain proc_net_tcp_udp:file { getattr open read };
allow appdomain proc_pid_max:file { open read };
allow appdomain proc_tty_drivers:file { getattr open read };
allow appdomain proc_uptime:file { getattr open };
allow appdomain proc_version:file { getattr open read };
allow appdomain self:udp_socket ioctl;
allow appdomain sysfs:file { getattr open read };
allow appdomain vold_exec:file { open read };
allow appdomain device:dir read;
allow appdomain self:netlink_route_socket nlmsg_readpriv;
allow appdomain selinuxfs:file read;
allow appdomain wifi_hal_prop:file read;
system_vendor_config_prop(vendor_payment_security_prop);
system_vendor_config_prop(vendor_fp_prop);
get_prop(appdomain, vendor_fp_prop);
get_prop(appdomain, vendor_payment_security_prop);
binder_call(appdomain, hal_mlipay_default);
binder_call(appdomain, teei_hal_wechat);

