type fuelgauged_nvram;
allow fuelgauged_nvram sysfs_dt_firmware_android:dir { search };
allow fuelgauged_nvram sysfs_dt_firmware_android:file { getattr open read };
