type hal_citsensorservice_xiaomi_default;
allow hal_citsensorservice_xiaomi_default sysfs_leds:dir { search open read };
allow hal_citsensorservice_xiaomi_default sysfs_led_lcd_bl:file read;
