type vendor_ffu_prop;
type vendor_mi_ic_prop;
type vendor_mtk_atci_sys_prop;
type vendor_mtk_bt_perf_prop;
type vendor_mtk_c2_log_prop;
type vendor_mtk_ctl_ccci2_fsd_prop;
type vendor_mtk_ctl_fusion_ril_mtk_prop;
type vendor_mtk_ctl_viarild_prop;
type vendor_mtk_device_prop;
type vendor_mtk_dmc_prop;
type vendor_mtk_factory_prop;
type vendor_mtk_factory_start_prop;
type vendor_mtk_gbe_prop;
type vendor_mtk_graphics_hwc_hdr_prop;
type vendor_mtk_input_report_rate_prop;
type vendor_mtk_mcf_prop;
type vendor_mtk_meta_connecttype_prop;
type vendor_mtk_nfc_nfcstackp_enable_prop;
type vendor_mtk_powerhal_prop;
type vendor_mtk_prefer64_prop;
type vendor_mtk_rpmb_ready_prop;
type vendor_mtk_soc_prop;
type vendor_mtk_svp_on_mtee_support_prop;
type vendor_mtk_telephony_sensitive_prop;
type vendor_mtk_thermal_config_prop;
type vendor_mtk_wfc_serv_prop;
type vendor_panel_info_prop;
type vendor_slad_prop;
type vendor_touchfeature_prop;

allow odrefresh aac_drc_prop:file { getattr map open };
allow odrefresh ab_update_gki_prop:file { getattr map open };
allow odrefresh adbd_config_prop:file { getattr map open };
allow odrefresh adbd_prop:file { getattr map open };
allow odrefresh apexd_config_prop:file { getattr map open };
allow odrefresh apexd_payload_metadata_prop:file { getattr map open };
allow odrefresh apexd_prop:file { getattr map open };
allow odrefresh apk_verity_prop:file { getattr map open };
allow odrefresh audio_config_prop:file { getattr map open };
allow odrefresh bluetooth_a2dp_offload_prop:file { getattr map open };
allow odrefresh bluetooth_audio_hal_prop:file { getattr map open };
allow odrefresh bluetooth_prop:file { getattr map open };
allow odrefresh bootanim_config_prop:file { getattr map open };
allow odrefresh bootloader_boot_reason_prop:file { getattr map open };
allow odrefresh boottime_prop:file { getattr map open };
allow odrefresh boottime_public_prop:file { getattr map open };
allow odrefresh bpf_progs_loaded_prop:file { getattr map open };
allow odrefresh build_bootimage_prop:file { getattr map open };
allow odrefresh build_config_prop:file { getattr map open };
allow odrefresh camera2_extensions_prop:file { getattr map open };
allow odrefresh camera_calibration_prop:file { getattr map open };
allow odrefresh camerax_extensions_prop:file { getattr map open };
allow odrefresh charger_config_prop:file { getattr map open };
allow odrefresh charger_prop:file { getattr map open };
allow odrefresh charger_status_prop:file { getattr map open };
allow odrefresh codec2_config_prop:file { getattr map open };
allow odrefresh cold_boot_done_prop:file { getattr map open };
allow odrefresh cpu_variant_prop:file { getattr map open };
allow odrefresh ctl_adbd_prop:file { getattr map open };
allow odrefresh ctl_apexd_prop:file { getattr map open };
allow odrefresh ctl_bootanim_prop:file { getattr map open };
allow odrefresh ctl_bugreport_prop:file { getattr map open };
allow odrefresh ctl_console_prop:file { getattr map open };
allow odrefresh ctl_default_prop:file { getattr map open };
allow odrefresh ctl_dumpstate_prop:file { getattr map open };
allow odrefresh ctl_fuse_prop:file { getattr map open };
allow odrefresh ctl_gsid_prop:file { getattr map open };
allow odrefresh ctl_interface_restart_prop:file { getattr map open };
allow odrefresh ctl_interface_start_prop:file { getattr map open };
allow odrefresh ctl_interface_stop_prop:file { getattr map open };
allow odrefresh ctl_mdnsd_prop:file { getattr map open };
allow odrefresh ctl_mediatranscoding_prop:file { getattr map open };
allow odrefresh ctl_odsign_prop:file { getattr map open };
allow odrefresh ctl_restart_prop:file { getattr map open };
allow odrefresh ctl_rildaemon_prop:file { getattr map open };
allow odrefresh ctl_sigstop_prop:file { getattr map open };
allow odrefresh ctl_snapuserd_prop:file { getattr map open };
allow odrefresh ctl_start_prop:file { getattr map open };
allow odrefresh ctl_stop_prop:file { getattr map open };
allow odrefresh dck_prop:file { getattr map open };
allow odrefresh debugfs_restriction_prop:file { getattr map open };
allow odrefresh device_config_activity_manager_native_boot_prop:file { getattr map open };
allow odrefresh device_config_boot_count_prop:file { getattr map open };
allow odrefresh device_config_configuration_prop:file { getattr map open };
allow odrefresh device_config_connectivity_prop:file { getattr map open };
allow odrefresh device_config_input_native_boot_prop:file { getattr map open };
allow odrefresh device_config_lmkd_native_prop:file { getattr map open };
allow odrefresh device_config_media_native_prop:file { getattr map open };
allow odrefresh device_config_mglru_native_prop:file { getattr map open };
allow odrefresh device_config_netd_native_prop:file { getattr map open };
allow odrefresh device_config_nnapi_native_prop:file { getattr map open };
allow odrefresh device_config_profcollect_native_boot_prop:file { getattr map open };
allow odrefresh device_config_reset_performed_prop:file { getattr map open };
allow odrefresh device_config_statsd_native_boot_prop:file { getattr map open };
allow odrefresh device_config_statsd_native_prop:file { getattr map open };
allow odrefresh device_config_storage_native_boot_prop:file { getattr map open };
allow odrefresh device_config_surface_flinger_native_boot_prop:file { getattr map open };
allow odrefresh device_config_swcodec_native_prop:file { getattr map open };
allow odrefresh device_config_sys_traced_prop:file { getattr map open };
allow odrefresh device_config_tethering_prop:file { getattr map open };
allow odrefresh device_config_vendor_system_native_boot_prop:file { getattr map open };
allow odrefresh device_config_vendor_system_native_prop:file { getattr map open };
allow odrefresh device_config_virtualization_framework_native_prop:file { getattr map open };
allow odrefresh device_config_window_manager_native_boot_prop:file { getattr map open };
allow odrefresh device_logging_prop:file { getattr map open };
allow odrefresh dmesgd_start_prop:file { getattr map open };
allow odrefresh drm_service_config_prop:file { getattr map open };
allow odrefresh dumpstate_options_prop:file { getattr map open };
allow odrefresh dynamic_system_prop:file { getattr map open };
allow odrefresh exported_bluetooth_prop:file { getattr map open };
allow odrefresh exported_overlay_prop:file { getattr map open };
allow odrefresh fastbootd_protocol_prop:file { getattr map open };
allow odrefresh ffs_control_prop:file { getattr map open };
allow odrefresh firstboot_prop:file { getattr map open };
allow odrefresh framework_watchdog_config_prop:file { getattr map open };
allow odrefresh gesture_prop:file { getattr map open };
allow odrefresh gsid_prop:file { getattr map open };
allow odrefresh hal_dumpstate_config_prop:file { getattr map open };
allow odrefresh heapprofd_enabled_prop:file { getattr map open };
allow odrefresh hwservicemanager_prop:file { getattr map open };
allow odrefresh hypervisor_prop:file { getattr map open };
allow odrefresh incremental_prop:file { getattr map open };
allow odrefresh init_perf_lsm_hooks_prop:file { getattr map open };
allow odrefresh init_svc_debug_prop:file { getattr map open };
allow odrefresh keyguard_config_prop:file { getattr map open };
allow odrefresh keystore_crash_prop:file { getattr map open };
allow odrefresh keystore_listen_prop:file { getattr open };
allow odrefresh lmkd_prop:file open;
allow odrefresh logpersistd_logging_prop:file { getattr open };
allow odrefresh media_config_prop:file map;
allow odrefresh mmc_prop:file open;
allow odrefresh net_dns_prop:file open;
allow odrefresh nnapi_ext_deny_product_prop:file open;
allow odrefresh overlay_prop:file map;
allow odrefresh persist_wm_debug_prop:file map;
allow odrefresh profcollectd_node_id_prop:file getattr;
allow odrefresh radio_cdma_ecm_prop:file open;
allow odrefresh remote_prov_prop:file open;
allow odrefresh sendbug_config_prop:file open;
allow odrefresh smart_idle_maint_enabled_prop:file open;
allow odrefresh storage_config_prop:file getattr;
allow odrefresh suspend_prop:file open;
allow odrefresh system_lmk_prop:file map;
allow odrefresh system_mtk_amsaal_prop:file open;
allow odrefresh system_mtk_bgdata_disabled_prop:file open;
allow odrefresh system_mtk_cdma_ecm_prop:file open;
allow odrefresh system_mtk_cta_set_prop:file open;
allow odrefresh system_mtk_ctl_emdlogger2_prop:file map;
allow odrefresh system_mtk_dbg_ims_prop:file open;
allow odrefresh system_mtk_debug_netlog_prop:file open;
allow odrefresh system_mtk_gprs_attach_type_prop:file open;
allow odrefresh system_mtk_init_svc_emdlogger1_prop:file map;
allow odrefresh system_mtk_mdl_start_prop:file open;
allow odrefresh system_mtk_opt_in_url_prop:file map;
allow odrefresh system_mtk_persist_vendor_vzw_device_type_prop:file open;
allow odrefresh system_mtk_rcs_support_prop:file open;
allow odrefresh system_mtk_sf_debug_prop:file getattr;
allow odrefresh system_mtk_telecom_vibrate_prop:file open;
allow odrefresh system_mtk_usb_tethering_prop:file open;
allow odrefresh system_mtk_vsim_sys_prop:file open;
allow odrefresh system_trace_prop:file open;
allow odrefresh system_user_mode_emulation_prop:file open;
allow odrefresh test_boot_reason_prop:file map;
allow odrefresh traced_enabled_prop:file map;
allow odrefresh vehicle_hal_prop:file { getattr open };
allow odrefresh vendor_default_prop:file open;
allow odrefresh vendor_ffu_prop:file open;
allow odrefresh vendor_mi_ic_prop:file open;
allow odrefresh vendor_mtk_atci_sys_prop:file { getattr open };
allow odrefresh vendor_mtk_bt_perf_prop:file { getattr open };
allow odrefresh vendor_mtk_c2_log_prop:file open;
allow odrefresh vendor_mtk_ctl_ccci2_fsd_prop:file { getattr open };
allow odrefresh vendor_mtk_ctl_fusion_ril_mtk_prop:file open;
allow odrefresh vendor_mtk_ctl_viarild_prop:file open;
allow odrefresh vendor_mtk_device_prop:file open;
allow odrefresh vendor_mtk_dmc_prop:file open;
allow odrefresh vendor_mtk_factory_prop:file { getattr open };
allow odrefresh vendor_mtk_factory_start_prop:file open;
allow odrefresh vendor_mtk_gbe_prop:file open;
allow odrefresh vendor_mtk_graphics_hwc_hdr_prop:file open;
allow odrefresh vendor_mtk_input_report_rate_prop:file { getattr open };
allow odrefresh vendor_mtk_mcf_prop:file open;
allow odrefresh vendor_mtk_meta_connecttype_prop:file { getattr open };
allow odrefresh vendor_mtk_nfc_nfcstackp_enable_prop:file { getattr map open };
allow odrefresh vendor_mtk_powerhal_prop:file { getattr map open };
allow odrefresh vendor_mtk_prefer64_prop:file open;
allow odrefresh vendor_mtk_rpmb_ready_prop:file { getattr map open };
allow odrefresh vendor_mtk_soc_prop:file open;
allow odrefresh vendor_mtk_svp_on_mtee_support_prop:file open;
allow odrefresh vendor_mtk_telephony_sensitive_prop:file open;
allow odrefresh vendor_mtk_thermal_config_prop:file open;
allow odrefresh vendor_mtk_wfc_serv_prop:file { getattr map open };
allow odrefresh vendor_panel_info_prop:file { getattr map open };
allow odrefresh vendor_payment_security_prop:file open;
allow odrefresh vendor_slad_prop:file open;
allow odrefresh vendor_touchfeature_prop:file open;
allow odrefresh vold_post_fs_data_prop:file open;
allow odrefresh wifi_config_prop:file open;
allow odrefresh zram_control_prop:file open;
