on init

 # Create energy-aware scheduler tuning nodes
    mkdir /dev/stune/foreground
    mkdir /dev/stune/background
    mkdir /dev/stune/top-app
    mkdir /dev/stune/rt
    chown system system /dev/stune
    chown system system /dev/stune/foreground
    chown system system /dev/stune/background
    chown system system /dev/stune/top-app
    chown system system /dev/stune/rt
    chown system system /dev/stune/tasks
    chown system system /dev/stune/foreground/tasks
    chown system system /dev/stune/background/tasks
    chown system system /dev/stune/top-app/tasks
    chown system system /dev/stune/rt/tasks
    chmod 0664 /dev/stune/tasks
    chmod 0664 /dev/stune/foreground/tasks
    chmod 0664 /dev/stune/background/tasks
    chmod 0664 /dev/stune/top-app/tasks
    chmod 0664 /dev/stune/rt/tasks

    # Reset stune group setting for NNAPI HAL processes
    write /dev/stune/nnapi-hal/schedtune.boost 0
    write /dev/stune/nnapi-hal/schedtune.prefer_idle 0

    # create an stune group for camera-specific processes
    mkdir /dev/stune/camera-daemon
    write /dev/stune/camera-daemon/schedtune.prefer_idle 0
    write /dev/stune/camera-daemon/schedtune.boost 0
    chown system system /dev/stune/camera-daemon
    chown system system /dev/stune/camera-daemon/tasks
    chmod 0664 /dev/stune/camera-daemon/tasks

on property:sys.boot_completed=1

    chown system system /dev/stune/foreground/schedtune.prefer_idle
    chown system system /dev/stune/top-app/schedtune.prefer_idle
    chown system system /dev/stune/rt/schedtune.prefer_idle
    write /dev/stune/foreground/schedtune.prefer_idle 0
    write /dev/stune/top-app/schedtune.prefer_idle 0
    write /dev/stune/rt/schedtune.prefer_idle 0
