<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.mediatek.incallservice"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <application
        android:label="@string/app_name"
        android:persistent="true">
        <receiver
            android:directBootAware="true"
            android:exported="true"    
            android:name="org.lineageos.mediatek.incallservice.OnLockedBootCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service
            android:directBootAware="true"
            android:name="org.lineageos.mediatek.incallservice.VolumeChangeService">
        </service>
    </application>
</manifest>
